<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital signature created by Piotr Rycek.</title>
    <link rel="stylesheet" href ="{{ url_for('static', filename='css/main.css')}}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<script>
    function myFunction() {
      alert("Hello! I am an alert box!");
    }
</script>
<body>
     <a href="/"><img class="logo" src="/static/logo.png" > </a>
    <br>
    
    {% if gen_new_values_View != True  %}
    <div style="width:800px;">
        {% if cookieMessage %}
        <form  class="main_buttons" action="enter_new_message">
            <input class="main_button" type="submit" value="Insert a new message 🖉">
        </form>
        {% endif %}
        <form  class="main_buttons"action="generate_trng" method="post">
            <input class="main_button" type="submit" name="generate_trng_btn" value="Generate new TRNG values  ⭮	">
        </form>
        <form  class="main_buttons"action="stats" method="post">
            <input class="main_button" type="submit" name="stats_btn" value="Display TRNG statistics 📉">
        </form>
        <form  class="main_buttons"action="testing" method="post">
            <input class="main_button" type="submit" name="stats_btn" value="Historical message analyze 🗇">
        </form>
    </div>
    <button onclick="myFunction()">Try it</button>
    <!-- {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %} -->
    {% if not cookieMessage or enterNewMessage %}
        <div class="form__group field">
            <form action="hash_message" method="post">
                <input type="text" class="form__field" placeholder="Enter your message:" name="message_input" id='name' required />
                <label for="name" class="form__label">Your message:</label>
                <br><br><br>
                <input type="number" class="form__field" placeholder="Hash size:" name="hash_size_input" id='hashSize' list="shaSizeValues" required/>
                <label for="hashSize" class="form__label_hash" >SHA size</label>
                <datalist id="shaSizeValues">
                    <option value="224">
                    <option value="256">
                    <option value="384">
                    <option value="512">
                  </datalist>
                <input class="run_button main_button" type="submit" value="Hash message #" id="message">
            </form>
        </div>
    {% endif %}
    
        
        {% if cookieMessage %}
        <br>
        <div class="received_data">
            <h3>Received Data:</h3>
            <hr>
            <p class="cookies_text">Last message: {{ cookieMessage }} </p> 
            <hr>
            <p class="cookies_text">Hashed last message: {{ cookieHashedMessage }} </p> 
            <hr>
            {% if session.get('publicRSAKeySession') %}
                <p class="cookies_text">Public RSA Key: </p> 
                <p class="cookies_text">{{ session.get('publicRSAKeySession') }}</p>
                {% if session.get('isSignedMessageSession') %}
                <p class="cookies_text">Last signed message: {{ session.get('signedMessage')}}</p> 
                <p class="cookies_text">With signature: {{ session.get('signatureHumanSession') }}</p>
                {% endif %}
            {% endif %}
        </div>
        <form action="sign_message">
            <input class="run_button main_button" type="submit" value="Sign last message ({{ cookieMessage }}) ⮊" id="message">
        </form>

        {% if session.get('isSignedMessageSession') %}
        
        <form action="check">
            <input class="run_button main_button" type="submit" value="Check" id="message">
        </form>
        {% endif %}
        {% endif %}
    <br>

    {% endif %}

    {% if gen_new_values_View %}
    <div class="form__group field">
        <form action="new_trng_values" method="post">
            <input type="number" class="form__field" placeholder="How many values:" name="gen_trng_input" id='name' required />
            <label for="name" class="form__label">How many values:</label>
            <input class="run_button main_button" type="submit" value="Generate new values ⮊" id="message">
        </form>
        <a href="/">
            <form action="/">
                <input class="run_button main_button back_button" type="button" value="Main page ⮈">
            </form>
        </a>
    </div>
    {% endif %}

     <!-- <div class="main_form">
        <form action="rsa_keypair" method="post">
             <input type="text" value="Enter your message:" name="message_input"> 
            <br>
            <input type="submit" value="Generate RSA key pair" id="message">
        </form>
        <form action="stats" method="post">
            <input type="submit" name="stats_btn" value="Display TRNG statistics">
        </form>
        <form action="gen_trng" method="post">
            <input type="submit" name="gen_trng_btn" value="Generate new random generated values">
        </form>

                 {% for value in random_values %}
                    <p>{{ value }}</p> 
                {% endfor %} 
            
    </div>  -->
    





</body>
</html>